<div class="container">
  <div class="row">
  <h4 class="promo-header">
    Ваше замовлення:
    {{cartCtrl.getSummaryQuantity()}}
    {{cartCtrl.getCorrectBookSign()}} загальною вартістю
    {{cartCtrl.getSummaryPrice()}} грн.
  </h4>
  <table class='table table-responsive table-hover table-bordered'>
    <thead>
    <tr>
      <th>Назва книги</th>
      <th>Автор </th>
      <th>Ціна</th>
      <th>Дата публікації</th>
      <th>Кількість сторінок</th>
      <th>Кількість книг</th>
      <th>Керування кошиком</th>
    </tr>
    </thead>
    <tr ng-repeat="book in cartCtrl.Cart.items">
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.pubdate | date }}</td>
      <td>{{ book.pagesCount}}</td>
      <td>{{ book.quantity }}</td>
      <td>
        <span ng-click="cartCtrl.Cart.addItem(book)"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></span>
        <span ng-click="cartCtrl.Cart.removeItem(book)"><i class="fa fa-minus fa-lg" aria-hidden="true"></i></span>
        <span ng-click="cartCtrl.Cart.removeItem(book, true)"><i class="fa fa-times fa-lg" aria-hidden="true"></i></span>
      </td>
    </tr>
  </table>
  </div>

</div>
