<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Book Store</title>
    <!-- Додання зовнішніх файлів -->
    <!-- Twitter Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!-- Шрифт -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400'
    rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet" />
    <!-- AngularJS -->
    <script src="js/shared/angular.min.js"></script>
    <!-- Бібліотека кошику -->
    <script src="http://salejs.com/v1/cart.js"></script>
    <!-- Модуль -->
    <script src="js/app.js"></script>
    <!-- Контролери -->
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/PanelController.js"></script>
  </head>

  <body ng-app="myApp" ng-controller="PanelController as panel">
    <!-- Налаштування кошику -->
    <script>
      cartjs.initialize({
        emailOrdersTo  : 'zoorned@gmail.com',
        language       : 'ukrainian',
        currency       : 'грн.',
        requireName    : true,
        requirePhone   : true,
        requireEmail   : true,
        requireAddress : true,
      })
    </script>

    <!-- Заголовок -->
    <div class="header">
      <div class="panel-header container">
        <h1>UkrBook</h1>
          <ul class="nav nav-tabs navbar-right">
            <li ng-class="{active: panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Головна</a></li>
            <li ng-class="{active: panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Контакти</a></li>
            <li ng-class="{active: panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Про нас</a></li>
          </ul>
      </div>
    </div>

    <div ng-controller="MainController as main">
      <!-- Головна сторінка -->
      <div class="main" ng-show="panel.tab == 1">
        <main-page></main-page>
      </div>
      <!-- Контакти -->
      <div class="container">
        <contacts></contacts>
      </div>
      <!-- Про -->
      <div class="container">
        <about-us></about-us>
      </div>

      <!-- Дно сторінки -->
      <div class="footer">
        <div class="container">
          <h1>Дякуємо за покупку!</h1>
        </div>
      </div>

    </div>
  </body>
</html>
