<div class="container">

  <div ng-show="authCtrl.error">
    <span>{{ authCtrl.error.message }}</span>
  </div>

  <form ng-submit="authCtrl.register()">
    <div class="input-group">
      <input type="text" ng-model="authCtrl.user.name" class="form-control" placeholder="Ім'я">
    </div>
    <div class="input-group">
      <input type="text" ng-model="authCtrl.user.phone" class="form-control" placeholder="Телефон">
    </div>
    <div class="input-group">
      <input type="text" ng-model="authCtrl.user.city" class="form-control" placeholder="Місто">
    </div>
    <div class="input-group">
      <input type="email" ng-model="authCtrl.user.email" class="form-control" placeholder="Пошта">
    </div>
    <div class="input-group">
      <input type="password" ng-model="authCtrl.user.password" class="form-control" placeholder="Пароль">
    </div>
    <input type="submit" class="btn btn-default" value="Зареєструватись">
  </form>

</div>
